body{
    display:flex;
    flex-direction: column;
}

.header-container{
    background: #1F2937;
    padding:12px

}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

}

.header-top .left-header{
    font-size:24px;
    font-weight: bold;
    color:#F9FAF8
    
}

.header-top .right-header{
    font-size:18px
}

ul{
    list-style: none;
    display:flex;
    
}

.right-header a{
    text-decoration: none;
    color:#E5E7EB;
    margin-left:8px
}


.header-bottom{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.header-bottom .left-header{
    margin-right: 10px;

}


img{
    width:450px;
    height:300px
}

.header-main-text{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    margin:6px
    
}

.header-secondary-text{
    font-size: 18px;
    color:#F9FAF8;
    margin:6px
}

button{
    background-color: #3882F6;
    padding:6px 15px;
    margin:6px;
    border:none;
    color:#F9FAF8;
    font-size: 18px;
    border-radius:8px
    
}





